{% extends "todo/base.html" %}
{% block content %}
{% load i18n %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2>{% trans "Create Todo" %}</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">{% trans "Title" %}</label>
                <input type="text" name="title" class="form-control" id="title" required>
            </div>
            <div class="mb-3">
                <label for="memo" class="form-label">{% trans "Description" %}</label>
                <textarea name="memo" class="form-control" id="memo"></textarea>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" name="important" class="form-check-input form-label" id="important">
                <label class="form-check-label" for="important">{% trans "Important" %}</label>
            </div>
            <div class="mb-3">
                <label for="due_date" class="form-label">{% trans "Due date" %}</label>
                <input type="date" name="due_date" class="form-control" id="due_date" value="{{ todo.due_date }}">
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </form>
    </div>
</div>
{% endblock %}
